﻿@{
    ViewBag.Title = "Home Page";
}

<div id="app" class="hiddenblock">
    <div v-if="profile.SecurityToken == null || profile.SecurityToken.length == 0" class="text-center">
        @Styles.Render("~/Content/signin.css")
        <form class="form-signin" v-on:submit.prevent="">
            <h3 style="color: dodgerblue;">{{ signInMessage }}</h3>
            BankExample
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" v-model="profile.Username" class="form-control" placeholder="Username" required autofocus>
            <label for="password" class="sr-only">Password</label>
            <input type="password" id="password" v-model="profile.Password" class="form-control" placeholder="Password" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit" @@click="loginUser()">Sign in</button>
        </form>
    </div>

    <div id="AjaxLoader" class="AjaxLoader hiddenblock">
        <div id="AjaxLoaderInner" class="text-center">
            <img src="@Url.Content("~/Content/Images/Ripple-1s-200px.gif")" />
        </div>
    </div>

    <nav v-if="profile.SecurityToken != null && profile.SecurityToken.length != 0" class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">BankExample</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#" v-on:click.prevent="currentView = 'Accounts'">Accounts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" v-on:click.prevent="currentView = 'Profile'">Profile</a>
                </li>
                <li class="nav-item">
                    <div style="width: 200px;"></div>
                </li>
            </ul>
            <div class="navbar-nav form-inline mt-2 mt-md-0">
                <span class="nav-link" style="cursor: default;">Logged in as: <strong>{{ profile.Username }}</strong></span>
                <a class="nav-link" href="#" v-on:click.prevent="signOut()">Sign Out</a>
            </div>
        </div>
    </nav>

    <div v-if="profile.SecurityToken != null && profile.SecurityToken.length != 0">

        <div v-if="currentView == 'Accounts'">
            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h2>Welcome {{ profile.FirstName }}!</h2>
                <p class="lead">Your bank accounts and their associated details are listed below.</p>
            </div>

            <div v-for="accountTypeCode of distinctAccountTypeCodes" class="card bg-light mb-3">
                <div class="card-header">{{ getAccountTypeNameByAccountTypeCode(accountTypeCode) }}s</div>
                <div class="card-body">

                    <div v-if="getAccountsByAccountTypeCode(accountTypeCode).length > 0">
                        <div v-for="account of getAccountsByAccountTypeCode(accountTypeCode)">
                            <small class="text-muted float-right">Last Activity Date: {{ account.LastActivityDateString }}</small>    
                            <h5 class="card-title">{{ account.Description }}</h5>
                            <p class="card-text">
                                <div><strong>Balance:</strong> {{ account.BalanceString }}</div>
                                <div v-if="account.AccountTypeCode == 'Loan'"><strong>Payment Due Date:</strong> {{ account.PaymentDueDateString }}</div>
                                <div v-if="account.AccountTypeCode == 'Loan'"><strong>Minimum Amount Due:</strong> {{ account.MinimumAmountDueString }}</div>
                                <div v-if="account.AccountTypeCode == 'Certificate'"><strong>Interest Rate:</strong> {{ account.InterestRateString }}</div>
                                <div v-if="account.AccountTypeCode == 'Certificate'"><strong>Maturity Date:</strong> {{ account.MaturityDateString }}</div>
                            </p>                            
                            <br />                        
                        </div>
                    </div>
                    <div v-else>
                        <h5 class="card-title">You have no {{ getAccountTypeNameByAccountTypeCode(accountTypeCode) }}s.</h5>
                    </div>
                                        
                </div>
            </div>

        </div>
        <div v-if="currentView == 'Profile'">
            <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
                <h2>Profile</h2>
                <p class="lead">View and update your mailing address and contact information.</p>
            </div>

            <div class="card-group">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Mailing Address</h5>
                        <div class="card-text">
                            <div>{{ profile.FirstName }} {{ profile.LastName }}</div>
                            <div>{{ profile.MailingAddress.Street1 }}</div>
                            <div v-if="profile.MailingAddress.Street2 != null && profile.MailingAddress.Street2.length > 0">{{ profile.MailingAddress.Street2 }}</div>
                            <div>{{ profile.MailingAddress.City }}, {{ profile.MailingAddress.State }} {{ cleanZipCode(profile.MailingAddress.ZipCode) }}</div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Phone</h5>
                        <div class="card-text">
                            <div v-if="profile.HomePhone != null && profile.HomePhone.length > 0">
                                Home Phone: {{ profile.HomePhone }}
                            </div>
                            <div v-if="profile.MobilePhone != null && profile.MobilePhone.length > 0">
                                Mobile Phone: {{ profile.MobilePhone }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Email</h5>
                        <div class="card-text">
                            {{ profile.EmailAddress }}
                        </div>
                    </div>
                </div>
            </div>
            <br />

            <form>                
                <div class="form-group">
                    <label for="Street1">Address Street 1</label>
                    <input type="text" class="form-control" id="Street1" v-model="profile.MailingAddress.Street1" placeholder="1234 Main St">
                </div>
                <div class="form-group">
                    <label for="Street2">Street 2</label>
                    <input type="text" class="form-control" id="Street2" v-model="profile.MailingAddress.Street2" placeholder="Apartment, studio, or floor">
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="City">City</label>
                        <input type="text" class="form-control" id="City" v-model="profile.MailingAddress.City">
                    </div>
                    <div class="form-group col-md-4">
                        <label for="State">State</label>
                        <select id="State" class="form-control" v-model="profile.MailingAddress.State">
                            <option v-for="item in profile.MailingAddress.StatesList" v-bind:value="item.Code">
                                {{ item.Code }}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label for="ZipCode">Zip Code</label>
                        <input type="text" class="form-control" id="ZipCode" v-mask="'#####?-?#?#?#?#'" v-model="profile.MailingAddress.ZipCode" style="min-width: 120px;">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="HomePhone">Home Phone</label>
                        <input type="tel" class="form-control" id="HomePhone" v-model="profile.HomePhone" v-mask="'###-###-####'" placeholder="Home Phone">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="MobilePhone">Mobile Phone</label>
                        <input type="tel" class="form-control" id="MobilePhone" v-model="profile.MobilePhone" v-mask="'###-###-####'" placeholder="Mobile Phone">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="EmailAddress">Email Address</label>
                        <input type="email" class="form-control" id="EmailAddress" v-model="profile.EmailAddress" placeholder="Email Address">
                    </div>
                </div>
                <h5 v-if="profile.ValidationMessages != null && profile.ValidationMessages.length > 0" style="color: red;">
                    <span v-for="item in profile.ValidationMessages" v-bind:value="item">
                        {{ item }}<br />
                    </span>
                </h5>
                <button type="submit" class="btn btn-primary" v-on:click.prevent="updateProfile()">Update Profile</button>
            </form>

        </div>

    </div>
</div>

<script>
    var bankAPIUrl = '@ViewBag.BankAPIUrl'
    
    function initData() {
        let data = {
            currentView: 'Accounts',
            signInMessage: null,
            profile: {
                SecurityToken: '',
                ProfileId: null,
                UserId: null,
                Username: null,
                Password: null,
                FirstName: null,
                LastName: null,
                FullName: null,
                MailingAddress: {
                    Street1: null,
                    Street2: null,
                    City: null,
                    StateId: null,
                    State: null,
                    ZipCode: null,
                    StatesList: [
                        {
                            StateId: null,
                            Name: null,
                            Code: null
                        }
                    ]
                },
                HomePhone: null,
                MobilePhone: null,
                EmailAddress: null,
                ValidationMessages: []
            },
            accounts: [
                {
                    RecordId: null,
                    Description: null,
                    Balance: null,
                    BalanceString: null,
                    LastActivityDate: null,
                    LastActivityDateString: null,
                    PaymentDueDate: null,
                    PaymentDueDateString: null,
                    MinimumAmountDue: null,
                    MinimumAmountDueString: null,
                    InterestRate: null,
                    InterestRateString: null,
                    MaturityDate: null,
                    MaturityDateString: null
                }
            ]
        }

        return data
    }

    Vue.use(VueMask.VueMaskPlugin)

    var app = new Vue({
        el: '#app',
        data: function () {
            return initData()
        },
        methods: {
            loginUser: function () {

                this.signInMessage = null

                $('#AjaxLoader').show()
                
                $.ajax({
                    url: bankAPIUrl + '/api/Security',
                    type: 'GET',
                    headers: {
                        username: this.profile.Username,
                        password: this.profile.Password
                    },
                    success: function (response) {
                        Vue.set(app, 'profile', response)

                        $('#AjaxLoader').hide()

                        if (app.profile.SecurityToken) {
                            app.getAccounts()
                        }
                        else {
                            app.signInMessage = 'Incorrect credentials.  Please try again.'
                        }
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown)

                        $('#AjaxLoader').hide()

                        app.signInMessage = 'Incorrect credentials.  Please try again.'
                    }
                })
            },
            getAccounts: function () {
                $('#AjaxLoader').show()

                $.ajax({
                    url: bankAPIUrl + '/api/BankAccounts/' + this.profile.UserId,
                    type: 'GET',
                    headers: {
                        securityToken: this.profile.SecurityToken
                    },
                    success: function (response) {
                        Vue.set(app, 'accounts', response)

                        $('#AjaxLoader').hide()
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown)

                        $('#AjaxLoader').hide()
                    }
                })
            },
            updateProfile: function () {
                this.profile.ValidationMessages = []

                $('#AjaxLoader').show()

                $.ajax({
                    url: bankAPIUrl + '/api/Profiles',
                    type: 'POST',
                    headers: {
                        securityToken: this.profile.SecurityToken
                    },
                    data: this.profile,
                    success: function (response) {

                        $('#AjaxLoader').hide()

                        if (response.ValidationMessages != null && response.ValidationMessages.length > 0) {
                            app.profile.ValidationMessages = response.ValidationMessages
                        }
                        else {
                            Vue.set(app, 'profile', response)
                            alert('Your profile was successfully updated!')
                        }                        
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        console.log(textStatus, errorThrown)

                        $('#AjaxLoader').hide()
                    }
                })
            },
            cleanZipCode: function (zipCode) {
                if (/\-$/.test(zipCode)) {
                    return zipCode.substring(0, zipCode.length - 1)
                }
                else {
                    return zipCode
                }
            },
            signOut: function () {
                if (confirm('Are you sure you want to sign out?')) {
                    let data = initData()
                    app.currentView = data.currentView
                    Vue.set(app, 'profile', data.profile)
                    Vue.set(app, 'accounts', data.accounts)
                    this.signInMessage = 'You have logged out.'
                }
            },
            getAccountsByAccountTypeCode: function (accountTypeCode) {
                let accounts = this.accounts.filter(function (obj) {
                    return obj.AccountTypeCode === accountTypeCode
                })

                return accounts
            },
            getAccountTypeNameByAccountTypeCode: function (accountTypeCode) {
                let accounts = this.accounts.filter(function (obj) {
                    return obj.AccountTypeCode === accountTypeCode
                })

                return accounts[0].AccountTypeName
            }
        },
        computed: {
            distinctAccountTypeCodes: function () {
                let accountTypeCodes = this.accounts.map(function (obj) {
                    return obj.AccountTypeCode
                })

                accountTypeCodes = accountTypeCodes.filter(function (v, i) {
                    return accountTypeCodes.indexOf(v) == i
                })

                return accountTypeCodes
            }
        }
    })

    $('#app').show()
</script>